@import '../../variables.scss';

.customTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary;
    margin: 0 auto;
    border-radius: 18px;
    margin-top: 34px;
    padding: 0px 34px 34px ;
    .title{
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        margin: 24px 34px;
    }
    .searchBlock{
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(-50%, -50%);
        }
        .search{
            width: 100%;
            padding: 14px 42px;
            border: 1px solid $dark-blue;
            background-color: $primary;
            border-radius: 8px;
        }
        @media (max-width: $layout-phone) {
            max-width: 520px;
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        @media (max-width: $layout-phone) {
            max-width: 520px;
            overflow-x: auto;
        }
    }
}