@import '../../variables.scss';

.row {
    display: flex;
    transition: .2s;
    border-radius: 8px;
    min-width: 520px;
    @media (max-width: $layout-phone) {
        padding-left: 10px;
    }
    &:hover {
        background-color: $dark-blue;
    }

    p {
        width: 300px;
        height: 64px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        word-break: break-word;
        @media (max-width: $layout-tablet) {
            font-size: 12px;
        }
    }

    .actions {
        width: 300px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            width: 18px;
            height: 18px;
            transition: .2s;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }
}