@import '../../variables.scss';

.tableHeader{
    display: flex;
    background-color: $secondary;
    border-radius: 8px;
    margin: 24px 0 10px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 46px;
        white-space: nowrap;
        cursor: pointer;
    }
}