@import '../../variables.scss';

.row {
    display: flex;
    transition: .2s;
    border-radius: 8px;
    &:hover {
        background-color: $dark-blue;
    }

    p {
        width: 140px;
        height: 64px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        word-break: break-word;
        @media (max-width: $layout-tablet) {
            font-size: 12px;
        }
    }
}