@import '../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 82px;
    background-color: $primary;
    border-radius: 17px;
    .leftSide{
        display: flex;
        gap: 44px;
        .logo {
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 29px;
        }
        .info{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        @media (max-width: $layout-phone) {
            width: 100%;
            justify-content: space-between;
        } 
    }
    .rightSide{
        display: flex;
        gap: 12px;
        padding: 9px 14px;
        border-radius: 6px;
        border: 1px $dark-blue;
        .info{
            display: flex;
            flex-direction: column;
            .status  {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; 
                color: #616D8D;
            }
            .role {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
            }
        }   
        @media (max-width: $layout-phone) {
            display: none;
        } 
    }
}