@import '../../variables.scss';

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary;
    border-radius: 18px;
    padding-bottom: 45px;
    .title{
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        margin: 24px 34px;
    }
    
}