@import './variables.scss';

body {
  background-color: $secondary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
  border: none;
}

.line {
  background-color: $dark-blue;
  height: 1px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: $dark-blue; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #252230; 
}